html, body {margin: 0}

.wrap {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.wrap_content {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  height: 100vh;
}

.header {
  flex: 0 0 50px;
  border: 1px solid #403a3b;
  background-color: #211d1e;
  box-shadow: 0 0 0 1px #211d1e;
  font-family: sans-serif;
  color: honeydew;
}

.header_wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
}

.header_menu {
  min-width: 800px;
  max-width: 800px;
  display: flex;
  margin: auto;
  justify-content: end;
}

.header_menu p {
  font-size: 20px;
  margin: 12px 12px 10px 0;
}

.header_menu a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: honeydew;
}

.header_menu img {
  margin: 12px 12px 10px 0;
}

.left_menu {
  flex: 1 0 100px;
  font-family: sans-serif;
  color: honeydew;
}

.left_menu p{
  font-size: 20px;
  margin: 16px 0 10px 10px;
}

.left_menu img {
  float: left;
  margin-right: 10px;
}

.left_menu a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: honeydew;
}

.right_menu {
  flex: 1 0 100px;
  background: black;
}

.main {
  flex: 1 0 auto;
  background: black;
  min-width: 800px;
  max-width: 800px;
  font-family: sans-serif;
  color: honeydew;
}

.left_menu_block {
  border: 1px solid #403a3b;
  background-color: #211d1e;
  margin: 20px 20px 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #211d1e;
  max-width: 200px;
}

.right_menu_block {
  border: 1px solid #403a3b;
  background-color: #211d1e;
  margin: 20px 20px 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #211d1e;
  max-width: 200px;
}

.profile {
  border: 1px solid #403a3b;
  background-color: #211d1e;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #211d1e;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.profile p{
  font-size: 20px;
  margin: 16px 0 10px 10px;
}

.profile_data {
  border: 1px solid #403a3b;
  background-color: #211d1e;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #211d1e;
  margin-top: auto;
}

.posts {
  border: 1px solid #403a3b;
  background-color: #211d1e;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #211d1e;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}